<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Ekle-Sil-Güncelle!
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/updatecar">Car</a></li>
                        <li><a class="dropdown-item" routerLink="/updatecolor">Color</a></li>
                        <li><a class="dropdown-item" routerLink="/updatebrand">Brand</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li *ngIf="!isAuthenticated()" class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
                    </li>
                    <li *ngIf="!isAuthenticated()" class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/register">Register</a>
                    </li>

                </ul>
            </form>
            <form *ngIf="isAuthenticated()" class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a *ngIf="CurrentUser != undefined" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{CurrentUser.firstName +" "+ CurrentUser.lastName}}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li *ngIf="isAuthenticated()" class="nav-item">
                                <a class="nav-link active" aria-current="page" routerLink="/user-detail">Edit Profile</a>
                            </li>
                            <li *ngIf="isAuthenticated()" class="nav-item">
                                <a class="nav-link active" aria-current="page" (click)="logOut()" routerLink="/">Log
                                    Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>



    </div>
</nav>