<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addBrand">
                    Marka Ekle
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of Brands">
            <td>{{brand.id}}</td>
            <td>{{brand.name}}</td>
            <td class="d-flex justify-content-center">

                <button type="button" class="btn btn-outline-primary mx-3" data-bs-toggle="modal"
                    data-bs-target="#updateBrand" (click)="setCurrentBrand(brand)">
                    Güncelle
                </button>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteBrand" (click)="setCurrentBrand(brand)">
                    Sil
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!--Ekle Modal-->
<div class="modal fade" id="addBrand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addBrandLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBrandLabel">Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addBrandForm">
                    <label for="colorName" class="col-4 col-form-label">Name</label>
                    <div class="form-group row mb-2">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="name" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" (click)="addBrand()">Ekle</button>
            </div>
        </div>
    </div>
</div>

<!--GüncelleModal-->
<div class="modal fade" id="updateBrand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="updateBrandLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateBrandLabel">Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateBrandForm">
                    <label for="colorName" class="col-4 col-form-label">Name</label>
                    <div class="form-group row mb-2">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="name"
                                value="{{currentBrand?currentBrand.name:''}}" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" (click)="updateBrand()">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<!--Sil Modal-->
<div class="modal fade" id="deleteBrand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteBrandLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBrandLabel">Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" (click)="deleteBrand()">Sil</button>
            </div>
        </div>
    </div>
</div>